/* Minimum iewport width - 481px */
/* Maximum viewport width - 1440px */
* {
  font-family: "Figtree";
  line-height: 150%;
}

body {
  background-color: hsl(47, 88%, 63%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  /* width: 384px;
  height: 522px:
  width: 327px;
  height: 501px: */
  width: clamp(327px, 18.6507rem + 5.9437vw, 384px);
  height: clamp(501px, 30.6542rem + 2.1898vw, 522px);
  /* width: clamp(20.4375rem, 18.6507rem + 5.9437vw, 24rem); */
  /* height: clamp(31.3125rem, 30.6542rem + 2.1898vw, 32.625rem); */
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 8px 8px 0px black;
}

.illustration-photo {
  object-fit: cover;
  height: 200px;
  width: clamp(279px, 15.6507rem + 5.9437vw, 336px);
  /* width: clamp(17.4375rem, 15.6507rem + 5.9437vw, 21rem); */
  margin: 24px;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 20px 20px;
}
.tag {
  background-color: hsl(47, 88%, 63%);
  font-size: clamp(0.75rem, 0.6873rem + 0.2086vw, 0.875rem); /* 14px / 12px */
  font-weight: 800; /* extra bold */
  padding: 4px 12px 4px;
  border-radius: 4px;
  color: hsl(0, 0%, 7%);
}
.published-date {
  font-size: clamp(0.75rem, 0.6873rem + 0.2086vw, 0.875rem); /* 14px / 12px */
  font-weight: 500; /* medium */
  color: hsl(0, 0%, 7%);
}
.title {
  font-size: clamp(1.25rem, 1.1246rem + 0.4171vw, 1.5rem); /* 24px / 20px */
  font-weight: 800; /* extra bold */
  color: hsl(0, 0%, 7%);
  margin: 0px;
}
h1:hover {
  color: hsl(47, 88%, 63%);
}
p {
  font-size: clamp(0.875rem, 0.8123rem + 0.2086vw, 1rem); /* 16px / 14px */
  font-weight: 500; /* medium */
  color: hsl(0, 0%, 42%);
}
.writer-block {
  display: flex;
  align-items: center;
}
.writer-photo {
  width: 32px;
  height: 32px;
}
.writer {
  font-size: clamp(0.75rem, 0.6873rem + 0.2086vw, 0.875rem); /* 14px / 12px */
  font-weight: 800; /* extra bold */
  color: hsl(0, 0%, 7%);
  margin: 0px 10px 0px;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
